/* ProductList.css */

.product-list-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filters input {
  flex-grow: 1;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.filters select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product {
  width: calc(100%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.product:hover {
  transform: translateY(-5px);
}

.product img {
  width: 100%;
  height: 300px;
  border-radius: 5px;
}

.product-details {
  margin-top: 10px;
}

.product h3 {
  margin-bottom: 5px;
  font-size: 18px;
}

.product p {
  margin: 5px 0;
  font-size: 16px;
}

.price {
  font-weight: bold;
  color: #333;
}
